@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root{
    --blue: rgb(39, 184, 90);
    --light-blue: rgb(26, 235, 217);
    --dark-gray: rgb(50, 82, 79);
    --pink: rgb(193, 89, 128);
    --violet: rgb(235, 26, 210);
}

h1{
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(30deg, var(--violet) 70%, var(--light-blue) 70%);
    padding: 4%;
    color: white;
}

.main_content {
    margin: 0 auto;
    max-width: 1200px;
}

.sidebar{
    background-color: var(--dark-gray);
    display: block;
    padding: 2em;
    text-align: center;
    color: white;
    width: 20%;
    min-width: 200px;
    height: 100vh;
    float: right;
}

    .preview{
        margin-top: 15%;
    }

    .preview img{
        width: 80%;
        padding: 4px;
        border-radius: 10px;
        border: 3px solid grey;

    }

    .preview p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 8%;

    }

.photo_stock{
    display: flex;
    width: 70%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
    
    .image_item{
        margin: 1%;
        margin-top: 5%;
        padding: 1%;
        text-align: center;
        border-radius: 6px;
        box-shadow: 0 0 80px 3px #545454f0, 3px 3px 10px 1px black;
    }

        .image_item img{
            border-radius: 10px;
        }

        .image_item h3{
            text-transform: capitalize;
            margin: 3%;
        }

        .image_item span{
            display: inline-block;
            padding: 5px;
            background-color: var(--dark-gray);
            border-radius: 4px;
            color: white;
        }

.empty_stock{
    height: 100vh;
    padding: 2%;
    text-align: center;
}

.empty_stock svg{
    width: 50%;
}


input[type="file"]{
    display: none;
}

button{
    font-weight: bold;
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

